.container {
    padding: 20px;
    max-width: 70%;
    margin: auto;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    /* margin-bottom: 10px; */
}

.heading {
    color: #222;
    font-size: 16px;
    font-weight: bold;
    border-left: 5px solid #52bd91;
    padding-left: 8px;
    text-align: left;
    margin-bottom: 8px;
}

.estimationTagContainer {
    background: lightblue;
    padding: 20px;
    border-radius: 12px;
    width: 360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
}

.formRow {
    display: flex;
    align-items: center;
}

.label {
    min-width: 110px;
    margin-right: 10px;
    font-weight: 500;
    white-space: nowrap;
}

.selectField {
    flex: 1;
    max-width: 200px;
}

.buttonSection {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.submitButton {
    background-color: #0c1154 !important;
    border-color: #0c1154 !important;
    color: white !important;
    padding: 6px 20px;
}

.resetButton {
    background-color: red !important;
    border-color: red !important;
    color: white !important;
    padding: 6px 20px;
}

/* Mobile responsive */
@media (max-width: 768px) {
    .formRow {
        flex-direction: row;
        align-items: flex-start;
    }

    .label {
        margin-bottom: 4px;
    }

    .selectField {
        width: 100%;
    }

    .estimationTagContainer {
        width: 90%;
    }
}



@media (max-width: 1024px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

}

@media (max-width: 480px) and (max-width: 768px) {
    .carouselContainer {
        width: 100%;
        overflow: hidden;
        height: 130px;
        background: #f0f0f0;
        gap: 10px
    }

    .carouselSlider {
        display: flex;
        transition: transform 0.3s ease-in-out;
    }

    .carouselImage {
        height: 130px;
        width: 33.33%;
        gap: 10px
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .carouselContainer {
        width: 100%;
        overflow: hidden;
        height: 180px;
        background: #f0f0f0;
        gap: 10px;
    }

    .carouselSlider {
        display: flex;
        transition: transform 0.3s ease-in-out;
    }

    .carouselImage {
        height: 180px;
        width: 33.33%;
        /* Show 2 images side by side */
        flex-shrink: 0;
        gap: 10px;
    }
}