.modalTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  background: #114a3d;
  border-radius: 8px;
  padding: 4px 8px;
  color: white;
  /* width: 95%; */
}

.modalBody {
  background-color: #b7e5cd;
  border: 1px solid #b7e5cd;
  border-radius: 8px;
  padding: 10px 15px;
  /* width: 85%; */
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  /* width: 90%; */
}

.fullRow {
  grid-column: 1 / span 3;
  display: flex;
  align-items: center;
  gap: 5px;
}

.label {
  color: #006400;
  font-weight: 500;
}

.input {
  text-align: left;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
}

.doubleRow {
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.footerButtons {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cancelBtn {
  background-color: #fff !important;
  border: 1px solid #1890ff !important;
  color: #1890ff !important;
  border-radius: 8px !important;
  width: 100px !important;
}

.saveBtn {
  width: 100px !important;
  background-color: #1890ff !important;
  border-radius: 8px !important;
}

.cardsSection {
  margin-top: 15px;
  background: #eafaf2;
  border-radius: 8px;
  padding: 8px;
  max-height: 200px;
  overflow-y: auto;
}

.cardHeader {
  font-weight: bold;
  color: #006400;
  margin-bottom: 5px;
}

.stoneCard {
  background: #fff;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 6px 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
  max-height: 210px;
  overflow-y: auto;
  width: auto;
  padding: 0px 5px 0px 5px;
}

.infoBox {
  width: 100%;
  height: auto;
  background: radial-gradient(
    circle at center,
    #ffffff 50%,
    #f3f6fb 60%,
    #e0e7f1 80%
  );
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
  border: 1px solid rgb(83, 81, 81);
  text-align: left;
  font-size: 12px;
  /* font-weight: bold; */
  /* background: rgb(248, 249, 250); */
  line-height: 1.2;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  /* padding: 0px 4px 0px 4px; */
}

.rowTag {
  display: flex;
  background-color: #52a4bd;
  justify-content: space-between;
  font-size: 12px;
  padding: 5px 8px 2px 8px;
}

.fullWidth {
  width: 100%;
}

.fullWidthStone {
  width: 100%;
  background-color: #52bd91;
  padding: 1px;
  border-radius: 0 0 5px 5px;
}

.fullWidthStone p {
  font-size: 14px;
  font-weight: bold;
  padding: 0px 8px;
  margin: 0;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  line-height: 1.4;
}

.weightDetails {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.fullWidthLine {
  width: 100%;
  border: 1px solid gray;
  margin: 2px 0;
}

.scanIconContainer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(58, 106, 184);
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.qrScannerOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.qrScannerContent {
  position: relative;
  width: 90%;
  max-width: 400px;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 2;
}

@media (max-width: 768px) {
  .infoBox {
    padding: 4px;
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  .infoBox {
    padding: 0px 2px 0px 2px;
    font-size: 12px;
    line-height: 0.1;
  }

  .row,
  .weightDetails {
    font-size: 9px;
  }
}
